<body>
    <app-scrolling></app-scrolling> 
   <h1> Pourquoi je candidaterais ?</h1>
   <h3>Pour quelles raisons je rejoindrais BNP Paribas et pas une autre entreprise ?</h3>   
   <div id="main" >
    <div id="goals"><h2>Parce que je souhaite...</h2> 
   <div class="goal"><div class="goal-showed">Des missions qui ont du sens <span class="fa fa-arrow-down"></span>
    <div class="goal-hidden">Et si on vous disait que travailler dans notre Groupe, ce n’est pas ce que vous croyez ? Chez BNP Paribas, on exerce une multitude de métiers qui évoluent en permanence pour être en phase avec les attentes des clientes et clients comme de la société. Au travers d’actions du quotidien ou de grands projets, exercer l’un de nos métiers, c’est s’engager pour agir durablement.</div>
   </div> </div>
   <div class="goal"><div class="goal-showed">Me sentir bien dans mon job <span class="fa fa-arrow-down"></span>
    <div class="goal-hidden">Se sentir bien dans son job, c’est avant tout venir travailler comme on est.  C’est aussi avoir les moyens d’un bon équilibre entre sa vie professionnelle et sa vie personnelle. Deux engagements majeurs pour BNP Paribas.</div>
   </div> </div>
   <div class="goal"><div class="goal-showed">Apprendre des choses tous les jours <span class="fa fa-arrow-down"></span>
    <div class="goal-hidden">Chez BNP Paribas, le développement de vos compétences est essentiel, pour vous comme pour nous. Et cela vous servira pour toute votre vie professionnelle.</div>
   </div> </div>
    
    <a style="bottom: 10px;position: absolute;" href="https://group.bnpparibas/emploi-carriere/pourquoi-rejoindre-bnp-paribas"><button>EN SAVOIR PLUS</button></a>
</div> 
    <img id="back-img" src="https://cdn-group.bnpparibas.com/media/images/cache/simple_filter/rc/E7DkLTk3/uploads/image/home_parce_que_je_souhaite.jpg" alt="">    
</div>
<a style="text-decoration: none;" href="https://group.bnpparibas/emploi-carriere/unexpectedjobs"><div class="card"><img style="border-radius: 10px;" src="https://cdn-group.bnpparibas.com/media/images/cache/rebond_md_landscape/uploads/image/uj2_chrisdele_1900x480.jpg" alt="#UnexpectedJob"> 
    <div style="padding: 20px;color: var(--my-second);"><h1 style="margin: 10px; text-align: start;font-size: 30px;">#UnexpectedJob</h1>
        <h4 style="font-weight: 500;">Chez BNP Paribas, nous pensons que derrière chaque métier se cache un parcours unique et une...</h4>
        <button>EN SAVOIR PLUS</button>
</div></div></a>
<h1>Qu'en pensent celles et ceux qui y sont déjà ?</h1>
<img style="width: 85%;padding: 5%;margin: auto;" src="assets/sondage.png" alt="sondage">
<div class="card" >   
    <img style="padding: 4%;" alt="ambassadeur BNP Paribas"  src="https://cdn-group.bnpparibas.com/media/images/cache/manual_crop/rc/H78CFzEf/uploads/image/liliane_240x290px.png">     
    <div style="justify-content: space-between; display: flex;flex-wrap: wrap;"> <h2 style="font-size: x-large; font-style: italic; font-weight: 600; width: 100%;">« Je suis convaincue par l’intelligence collective. Le travail en équipe est indispensable pour prendre du recul, se challenger et s’améliorer en continu. Seul on va plus vite, mais ensemble on va plus loin ! »</h2>
   <div><h5 style="margin: 5px;">Liliane</h5>
    <h5 style="margin: 5px;">Manager IT Production BNP Paribas</h5>
   <a href="https://www.jobpreview.bnpparibas/"> <button>Échanger avec nos ambassadeurs et ambassadrices</button></a>
</div> 
</div>
</div>
</body>
