<body>
    <app-scrolling></app-scrolling>    
    <h1>Je personnalise mon parcours</h1>
    <h3 style="padding: 50px;font-size: 20px; font-weight: 500; width: 50%; margin: auto;">En choisissant mon profil, j’accède à des contenus personnalisés qui correspondent à mes attentes.</h3>
 <div id="cards"> 
  <a class="card-ref" href="https://group.bnpparibas/emploi-carriere/candidat-etudiant">
    <div class="card">
    <div class="card-top" >
        <img class="first-img"     src="https://cdn-group.bnpparibas.com/media/images/cache/simple_filter/rc/fkc9fMR3/uploads/image/etudiant1.png" alt="profil etudiant BNP Paribas 1">
        <img  class="second-img" src="https://cdn-group.bnpparibas.com/media/images/cache/simple_filter/rc/KoLrNJ1g/uploads/image/profil_etudiant2.png" alt="profil etudiant BNP Paribas 2">
    </div>     
    <div class="card-bottom">
        Je fais des études
    </div>
    </div>
    </a>
    <a class="card-ref" href="https://group.bnpparibas/emploi-carriere/candidat-jeune-professionnel">
        <div class="card">
        <div class="card-top" >
            <img class="first-img" src="https://cdn-group.bnpparibas.com/media/images/cache/simple_filter/rc/YGTS8Uv5/uploads/image/jeunepro1.png" alt="profil jeune professionel bnp paribas 1">
            <img  class="second-img" src="https://cdn-group.bnpparibas.com/media/images/cache/simple_filter/rc/Ze9SXHTv/uploads/image/jeunepro2.png" alt="profil jeune professionel bnp paribas 2">
        </div>     
        <div class="card-bottom">
            Je démarre ma vie professionelle
        </div>
        </div>
        </a>
  <a class="card-ref" href="https://group.bnpparibas/emploi-carriere/candidat-experimente">
    <div class="card">
    <div class="card-top" >
        <img class="first-img"   src="https://cdn-group.bnpparibas.com/media/images/cache/simple_filter/rc/jzyGFoKW/uploads/image/experimente1.png" alt="">
        <img  class="second-img" src="https://cdn-group.bnpparibas.com/media/images/cache/simple_filter/rc/oQSCTKVi/uploads/image/experimente2.png" alt="profil expérimenté BNP Paribas 1">
    </div>     
    <div class="card-bottom">
        J'ai plusieurs années d'expérience
    </div>
    </div>
    </a>
     
</div>

<a style="color: var(--my-second);text-decoration-color: var(--my-third); font-weight: 600;font-size: 20px;" href="https://group.bnpparibas/emploi-carriere/toutes-offres-emploi?international=1">Je souhaite rejoindre BNP Paribas ailleurs qu'en France <span class="fa fa-arrow-right" id="anim-arrow" style="width: 40px; height: 10px;"></span></a>
  

</body>
