<body>
    <app-scrolling></app-scrolling> 
    <h1 style="display: flex;justify-content: space-between;margin: 10px; text-transform: uppercase;font-weight: 500;">à la une <a href="https://group.bnpparibas/toutes-actualites"><button>Voir toutes les actualités</button></a></h1>
  <div id="cards" style="flex-wrap: wrap; width: 100%; display: flex; justify-content: space-between;margin-top: 30px;"> 
    <a href="https://group.bnpparibas/actualite/b-school-by-bnp-paribas-fait-sa-rentree-decouvrez-les-nouveautes"> <div class="card">
        <img src="https://cdn-group.bnpparibas.com/media/images/cache/teaser_sm/uploads/image/adobestock_497999148.jpg">
        <div class="card-bottom">
            <div style="display: flex;justify-content: start;"><div class="point"></div>
         <h6 style="margin: 0px; padding-left: 10px;">RECRUTEMENT</h6></div> 
         <H6 style="color: grey; font-weight: 600; margin-top: 20px;">13/05/2024</H6>
         <h3>B-School by BNP Paribas fait sa rentrée, découvrez les nouveautés</h3>
        </div>
    </div>
</a>
<a href="https://group.bnpparibas/actualite/unexpecteddays-1-journee-de-recrutement-dediee-aux-metiers-de-lagence-bancaire"> <div class="card">
        <img src="https://cdn-group.bnpparibas.com/media/images/cache/teaser_sm/uploads/image/unexpected_days_2024.png">
        <div class="card-bottom">
            <div style="display: flex;justify-content: start;"><div class="point"></div>
         <h6 style="margin: 0px; padding-left: 10px;">RECRUTEMENT</h6></div> 
         <H6 style="color: grey; font-weight: 600; margin-top: 20px;">07/05/2024</H6>
         <h3>#UnexpectedDays : 1 journée de recrutement dédiée aux métiers de l’agence bancaire</h3>
        </div>
    </div></a>
    <a href="https://group.bnpparibas/actualite/preparetonalternance-2024-et-si-tu-rejoignais-bnp-paribas-pendant-tes-etudes">  <div class="card">
        <img src="https://cdn-group.bnpparibas.com/media/images/cache/manual_crop/rc/5Hce2921/uploads/image/alternace2024v2.jpg">
        <div class="card-bottom">
            <div style="display: flex;justify-content: start;"><div class="point"></div>
         <h6 style="margin: 0px; padding-left: 10px;">RECRUTEMENT</h6></div> 
         <H6 style="color: grey; font-weight: 600; margin-top: 20px;">24/01/2024</H6>
         <h3>#PREPARETONALTERNANCE 2024 : et si tu rejoignais BNP Paribas pendant tes études ?</h3>
        </div>
    </div>
    </a>
</div>
    
</body>