<body>  
<div id="bar">
    <img id="bnpimg" src="https://cdn-group.bnpparibas.com/build/images/logo-bnp.svg" alt="logo BNP">
    <div class="hidden-field">La banque d'un monde qui change</div>
    <div class="field">Le Groupe <div class="hidden">
    <div class="hidden-title">Le groupe BNP Paribas
      <div style="font-size: 14px; font-weight: 500; text-transform: none;">Retrouvez toutes nos informations essentielles : gouvernance, stratégie, organisation et chiffres clés.
      </div>
     <a href="https://group.bnpparibas/decouvrez-le-groupe"><button class="button"> DECOUVREZ LE GROUPE</button></a>
    </div>
    <div id="hiddens">
    <div class="hidden-normal"><a href="https://group.bnpparibas/decouvrez-le-groupe/nous-connaitre"><div class="hid-nortitle" ><div class="decor"> </div> NOUS CONNAITRE</div></a>
      <a href="https://group.bnpparibas/decouvrez-le-groupe/nous-connaitre/raison-detre" class="normal">Raison d'être</a>
      <a href="https://group.bnpparibas/decouvrez-le-groupe/nous-connaitre/business-model" class="normal">Business model</a>
      <a href="https://group.bnpparibas/decouvrez-le-groupe/nous-connaitre/plan-strategique-2025" class="normal">Plan stratégique 2025</a>
      <a href="https://group.bnpparibas/decouvrez-le-groupe/nous-connaitre/mecenat" class="normal">Mécénat</a>
      <a href="https://group.bnpparibas/decouvrez-le-groupe/nous-connaitre/histoire" class="normal">Histoire</a>
      <a href="https://group.bnpparibas/decouvrez-le-groupe/nous-connaitre/tennis" class="normal">Tennis</a>
      <a href="https://group.bnpparibas/decouvrez-le-groupe/nous-connaitre/cinema" class="normal">Cinéma</a>
    </div>
    <div class="hidden-normal"><a href="https://group.bnpparibas/decouvrez-le-groupe/nos-metiers-et-expertises"><div class="hid-nortitle" ><div class="decor"> </div>Nos métiers et expertises</div></a>
      <a href="https://group.bnpparibas/decouvrez-le-groupe/nos-metiers-et-expertises/corporate-institutional-banking" class="normal">Corporate & Institutional Banking</a>
      <a href="https://group.bnpparibas/decouvrez-le-groupe/nos-metiers-et-expertises/commercial-personal-banking-services" class="normal">Commercial, Personal Banking & Services</a>
      <a href="https://group.bnpparibas/decouvrez-le-groupe/nos-metiers-et-expertises/investment-protection-services" class="normal">Investment & Protection Services</a>
    </div>
    <div class="hidden-normal"><a href="https://group.bnpparibas/decouvrez-le-groupe/notre-gouvernance"><div class="hid-nortitle" ><div class="decor"> </div>Notre gouvernance</div></a>
      <a href="https://group.bnpparibas/decouvrez-le-groupe/notre-gouvernance/conseil-dadministration" class="normal">Conseil d'administration</a>
      <a href="https://group.bnpparibas/decouvrez-le-groupe/notre-gouvernance/direction-generale-et-comite-executif" class="normal">Direction Générale et Comité Exécutif</a>
      <a href="https://group.bnpparibas/decouvrez-le-groupe/notre-gouvernance/conformite" class="normal">Conformité</a>
    </div>
  
    <a href=""><div class="hidden-end">
    <img class="hidden-image" src="https://cdn-group.bnpparibas.com/media/images/cache/menu_block/uploads/image/bnpri2023_photo_couv.jpg">
      <div class="rapport">Rapport intégrité du groupe
      <button class="button">LIRE LE RAPPORT D'INTEGRITE</button></div>
    </div> 
  </a>
  </div>               
  </div>
  </div>
    <div class="field">Nos engagements 
      <div class="hidden">
        <div class="hidden-title">Nos engagements
          <div style="font-size: 14px; font-weight: 500;text-transform: none;">Nous nous inscrivons dans une démarche de contribution durable et inclusive aux défis environnementaux, sociétaux, technologiques et économiques de notre époque.
          </div>
         <a href="https://group.bnpparibas/nos-engagements"><button class="button" style="text-transform: uppercase;">Découvrez nos engagements</button></a>
        </div>
        <div id="hiddens">
        <div class="hidden-normal"><a href="https://group.bnpparibas/nos-engagements/transitions"><div class="hid-nortitle" ><div class="decor1"><div id="decor-icon" class="fa fa-leaf"></div> </div> Transitions</div></a>
          <a href="https://group.bnpparibas/nos-engagements/transitions/transition-energetique-et-action-climatique" class="normal">Transition énergétique et action climatique</a>
          <a href="https://group.bnpparibas/nos-engagements/transitions/capital-naturel-et-biodiversite" class="normal">Capital naturel et biodiversité</a>
          <a href="https://group.bnpparibas/nos-engagements/transitions/economie-circulaire" class="normal">Economie circulaire</a>
          <a href="https://group.bnpparibas/nos-engagements/transitions/epargne-et-investissement-responsablest" class="normal">Epargne et investissement responsables</a>
          <a href="https://group.bnpparibas/nos-engagements/transitions/efficacite-energetique" class="normal">Efficacité énergétique</a>
          <a href="https://group.bnpparibas/nos-engagements/transitions/nos-experts-en-finance-durable" class="normal">Nos experts en finance durable</a>
          <a href="https://group.bnpparibas/nos-engagements/transitions/politiques-de-financement-et-dinvestissement" class="normal">Politiques de financement et d’investissement</a>
        </div>
        <div class="hidden-normal"><a href="https://group.bnpparibas/nos-engagements/innovation"><div class="hid-nortitle" ><div class="decor1"><div id="decor-icon" class="fa fa-sun-o"></div> </div>Innovation</div></a>
          <a href="https://group.bnpparibas/nos-engagements/innovation/experience-client" class="normal">Expérience client</a>
          <a href="https://group.bnpparibas/nos-engagements/innovation/solutions-de-paiement" class="normal">Solutions de paiement</a>
          <a href="https://group.bnpparibas/nos-engagements/innovation/data-intelligence-artificielle" class="normal">Data & Intelligence Artificielle</a>
          <a href="https://group.bnpparibas/nos-engagements/innovation/beyond-banking" class="normal">Beyond banking</a>
          <a href="https://group.bnpparibas/nos-engagements/innovation/open-innovation" class="normal">Open innovation</a>
          <a href="https://group.bnpparibas/nos-engagements/innovation/solutions-de-mobilite" class="normal">Solutions de mobilité</a>
        </div>
        <div class="hidden-normal"><a href="https://group.bnpparibas/nos-engagements/inclusion"><div class="hid-nortitle" ><div class="decor1"><div id="decor-icon" class="fa fa-universal-access"></div></div>Inclusion</div></a>
          <a href="https://group.bnpparibas/nos-engagements/inclusion/inclusion-financiere-et-sociale" class="normal">Inclusion financière et sociale</a>
          <a href="hhttps://group.bnpparibas/nos-engagements/inclusion/entrepreneuriat-a-impact" class="normal">Entrepreneuriat à impact</a>
          <a href="https://group.bnpparibas/nos-engagements/inclusion/diversite-egalite-et-inclusion" class="normal">Diversité, égalité et inclusion</a>          
        </div>
      
        <a href=""><div class="hidden-end">
        <img class="hidden-image" src="https://cdn-group.bnpparibas.com/media/images/cache/menu_block/uploads/image/adobestock_605250274_resize_1m_v04_1.jpg">
          <div class="rapport">Finance durable : suivez nos trajectoires chiffrées
          <button class="button">Voir les indicateurs clés</button></div>
        </div> 
      </a>
      </div>               
      </div>
    </div>
    <div class="field">Actualités & Mediaroom
      <div class="hidden">
        <div class="hidden-title">Actualités & Mediaroom
          <div style="font-size: 14px; font-weight: 500;text-transform: none;">Nos résultats financiers, des focus sur nos métiers et solutions ou encore nos récentes initiatives en matière de finance durable : découvrez nos actualités, analyses et positions.
          </div>
         <a href="https://group.bnpparibas/decouvrez-le-groupe"><button class="button"> DECOUVREZ LE GROUPE</button></a>
        </div>
        <div id="hiddens">
        <div class="hidden-normal"><a href="https://group.bnpparibas/toutes-actualites"><div class="hid-nortitle" ><div class="decor"> </div>Actualités</div></a>
          <a href="https://group.bnpparibas/decouvrez-le-groupe/nous-connaitre/raison-detre" class="normal">Groupe</a>
          <a href="https://group.bnpparibas/toutes-actualites/innovation" class="normal">Innovation</a>
          <a href="https://group.bnpparibas/toutes-actualites/finance-durable" class="normal">Finance durable</a>
          <a href="https://group.bnpparibas/toutes-actualites/diversite-inclusion" class="normal">Diversité et inclusion</a>
          <a href="https://group.bnpparibas/toutes-actualites/mecenat" class="normal">Mécénat</a>
          <a href="https://group.bnpparibas/toutes-actualites" class="normal">Actualités</a>
        </div>        
        <div class="hidden-normal"><a href="https://group.bnpparibas/mediaroom"><div class="hid-nortitle" ><div class="decor"> </div>Mediaroom</div></a>
          <a href="https://group.bnpparibas/decouvrez-le-groupe/notre-gouvernance/conseil-dadministration" class="normal">Communiqués de presse</a>
          <a href="https://group.bnpparibas/mediaroom/porte-parole" class="normal">Porte-parole</a>
          <a href="https://group.bnpparibas/mediaroom/contacts" class="normal">Contacts</a>
        </div>
          <a href=""><div class="hidden-end1">
        <img class="hidden-image1" src="https://cdn-group.bnpparibas.com/media/images/cache/menu_block/uploads/image/BANDEAU_BNPP_R%C3%A9sultats3T24_SiteCorp.jpg">
          <div class="rapport">Communiqué de presse
            <div style="font-size: 10px;font-weight: 500;padding: 10px;">31/10/2024</div>
            <div>Groupe BNP Paribas : Résultats au 30 Septembre 2024</div>
          </div>
        </div> 
      </a>
      </div>               
      </div>
    </div>
    <div class="field">Emploi & Carrière
      <div class="hidden">
        <div class="hidden-title">Actualités & Mediaroom
          <div style="font-size: 14px; font-weight: 500;text-transform: none;">Notre ambition ? Construire un futur durable. Et cela n’est possible qu’avec vous.
          </div>
         <a href="https://group.bnpparibas/decouvrez-le-groupe"><button class="button" style="text-transform: uppercase;"> Explorer notre espace Carrière</button></a>
        </div>
        <div id="hiddens">
        <div class="hidden-normal" style="padding: 15px;"><a href="https://group.bnpparibas/toutes-actualites"><div class="hid-nortitle" style="text-transform: capitalize;" >Envie de prendre part au changement ?</div></a>
        <a href="https://group.bnpparibas/emploi-carriere/pourquoi-rejoindre-bnp-paribas"><div class="hid-nortitle" ><div class="decor"></div>Pourquoi rejoindre BNP Paribas</div></a>
        <a href="https://group.bnpparibas/emploi-carriere/metiers"><div class="hid-nortitle" ><div class="decor"></div>Choisir le métier fait pour moi</div></a>       
        <a href="https://group.bnpparibas/emploi-carriere/preparer-mon-recrutement"><div class="hid-nortitle" ><div class="decor"></div>Préparer mon recrutement</div></a>          
        </div>        
        <div class="hidden-normal" style="padding: 15px;"><a href="https://group.bnpparibas/mediaroom"><div class="hid-nortitle" style="text-transform: capitalize;">Choisir mon profil</div></a>
        <a href="https://group.bnpparibas/emploi-carriere/candidat-etudiant"><div class="hid-nortitle" ><div class="decor"></div>Je fais des études</div></a>          
        <a href="https://group.bnpparibas/emploi-carriere/toutes-offres-emploi/banque-de-detail-en-france"><div class="hid-nortitle" ><div class="decor"></div>Je démarre ma vie professionnelle</div></a>        
        <a href="https://group.bnpparibas/emploi-carriere/candidat-experimente"><div class="hid-nortitle" ><div class="decor"></div>J’ai plusieurs années d’expérience</div></a></div>
         
            <div style="height: auto;width: 200px; padding: 30px; background-image:radial-gradient(circle at 10% 100%, #b83076 9%, #d9703f 69%, #d9923f 95%);display: flex;flex-wrap: wrap;justify-content: center;border-radius: 20px;">
            <a href=""><button class="button">TROUVER MON FUTUR EMPLOI</button></a>
            <a href=""><button class="button" style="background-color: transparent;">MATCHER MON CV</button></a>
          </div>        
      </div>               
      </div>
    </div>
    <div class="field"><div class="decor2"></div>Je suis
     <div class="hidden1">
     <a href="https://invest.bnpparibas/"><div class="hiddens1" ><div class="img-div"><img class ="circular-img" src="https://cdn-group.bnpparibas.com/build/images/iam_investor.ab9e67e7.jpg" alt="investor"></div>Actionnaires & Investisseurs</div></a>
     <a href="https://group.bnpparibas/je-suis/entreprise-institutionnel"><div class="hiddens1" ><div class="img-div"><img class ="circular-img" src="https://cdn-group.bnpparibas.com/build/images/iam_entrepreneur.56a09cb5.jpg" alt="Entreprise, Institutionnel"></div>Entreprise, Institutionnel</div></a>
     <a href="https://group.bnpparibas/emploi-carriere"><div class="hiddens1" ><div class="img-div"><img class ="circular-img" src="https://cdn-group.bnpparibas.com/build/images/iam_candidate.9edc21b5.jpg" alt="candidat"></div>Candidat</div></a>
     <a href="https://group.bnpparibas/je-suis/particulier-professionnel"><div class="hiddens1" ><div class="img-div"><img class ="circular-img" src="https://cdn-group.bnpparibas.com/build/images/iam_client.423216bd.jpg" alt="particulier, professionnel"></div>Particulier, professionnel</div></a>
     <a href="https://group.bnpparibas/je-suis/fournisseur"><div class="hiddens1" ><div class="img-div"><img class ="circular-img" src="https://cdn-group.bnpparibas.com/build/images/iam_supplier.79c3f84a.jpg" alt="Fournisseur"></div>Fournisseur</div></a>
     <a href="https://group.bnpparibas/mediaroom"><div class="hiddens1" ><div class="img-div"><img class ="circular-img" src="https://cdn-group.bnpparibas.com/build/images/iam_journalist.99e31ae5.jpg" alt="Journaliste"></div>Journaliste</div></a>
     </div>
  </div>

    <div class="field"><div class="decor2"></div>fr</div>    
     <div *ngIf="barIsvisible" id="search-bar" class="fa fa-search"></div>
     <div *ngIf="!barIsvisible" id="search-bar2" class="fa fa-search"></div>
</div>
</body>